{% extends 'base.html' %}


{% block title %}
    {{title}}
{% endblock title %}
    


{% block content %}
    
{% endblock content %}
    

<h1>home</h1>
{{about.Date_of_Birth}}

<ul>
{% for skill in skills %}
        <li>{{skill.Name}} {{skill.Skill_Range}}%</li>
{% endfor %}
</ul>   

<ul>
    
    {% for service in services %}
        <li>{{service.Name}}</li>
    {% endfor %}
        
</ul>

<ul>
    
    {% for gallery in galleries %}
        <li>{{gallery.Name}}</li>
    {% endfor %}

</ul>

<form action="/" method="post">
    {% csrf_token %}
    {{contact.as_p}}
    <input type="submit" value="Submit">
</form>