{% extends 'admin_base.html' %}


{% block title %}
    {{title}}
{% endblock title %}


{% block content %}
<main>
    <div class="container py-3">
        <center>
            <header>
                <h2> User, {{request.user}} | {{title}}</h2>
            </header>
        
        <main>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h4>Going so soon <i> {{request.user}} </i> ?</h4>
                <button type="submit" class="btn btn-outline-danger"> I'll be back</button>
                <a href="{% url 'list' %}" class="btn btn-primary">Not really</a>
            </form>
        </main>
    </center>
    </div>
</main>
{% endblock content %}
    
    